body{
    height: 100vh;
    overflow: hidden;
}
.container{
    border: 1px solid black;
    overflow-y: scroll;
    width: 500px;
    height: 200px;
}

.container::-webkit-scrollbar{
    width: 10px;
}

.container::-webkit-scrollbar-track{
    background-color: #24c78e;
    border-radius: 50px;
}

.container::-webkit-scrollbar-thumb{
    background-color: #888888;
    border-radius: 50px;
}
